.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.layout-container {
  display: flex;
  flex: 1 1 100%;
  box-sizing: border-box;
  flex-direction: row;
}

.content-container-wrapper {
  flex: 1 1 100%;
  box-sizing: border-box;
}

.content-container {
  height: 100%;
  flex: 1 1 100%;
}
